@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);

@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

*{
    	
}
body{
	font-family: 'Cutive Mono';
	
	/*overflow:hidden;*/
}

body * {
    z-index: 20;
}

.text-container {
    position: relative;
  width: 80%;
    top: 50px;
  float: right;
}

#fs {
    position: relative;
    color: #000;
    margin: 20px;
    cursor: pointer;
}

header{
	font-family: 'Old Standard TT', serif;
	font-size:200%;
	font-weight:700;
	letter-spacing:1px;
	margin-bottom:20px;
	text-decoration:underline;
	
}

h2{
	font-family: 'Old Standard TT', serif;
	font-weight:bold;
	font-size:20px;
	height:20px;
	margin:0px;


}

h3{
	font-family: 'Old Standard TT', serif;
	font-weight:400;
	margin:0px;
	margin-top:-10px;
}

h4{
	font-family: 'Old Standard TT', serif;
	font-style:italic;
	font-weight:400;
	font-size:12px;
	margin:0px;
	margin-top:-15px;
}

.section{
	margin:10px;
	margin-left:2%;
	width:35%;
}

#experience{
	float:left;
}

#education{
	float:left;
}

#skills{
	float:left;
}

/*#fs {
    position: relative;
    color: #000;
    margin: 20px;
    cursor: pointer;
}*/

#about{
	float:left;
}

#contact{
	float:left;
}



/*/////////////////////////////////  FLASHLIGHT EFFECT ////////////////////////////  */



/*//////////////////////////////// END FLASHLIGHT EFFECT ///////////////////////////  */
